@import url(reset.css);

@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Oxygen';
    src: url('../fonts/Oxygen-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

html, body {
    scroll-behavior: smooth;
}

body {
    font-family: 'Oxygen';
    position: relative;
}

main {
    padding-top: 100px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* *GALLERY */

.heading {
    text-transform: capitalize;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
    background: rgba(1, 29, 19, 0.8);
    color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 6px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 20px;
}

.gallery > div {
    flex: 0 0 47%;
    min-height: 400px;
    position: relative;
}

.card > img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.card > div {
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -100px;
    height: 200px;
    background: rgb(255, 255, 255, 0.5);
    overflow: auto;
    opacity: 0;
}

.card:hover > div {
    opacity: 1;
}

.menu {
    position: fixed;
    top: 50%;
    left: 0;
    margin-top: -150px;
    min-width: 150px;
    height: 300px;
    background: rgba(1, 29, 19, 0.8);
    color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
}

.btn {
    display: block;
    text-decoration: none;
    color: inherit;
    border: 1px solid #81A36B;
    border-radius: 6px;
    padding: 20px;
}

.btn:hover {
    background: white;
    color: rgba(0, 0, 0, 0.7);
}

.pointer {
    display: block;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: rgba(1, 29, 19, 0.8);
    color: white;
    border-radius: 6px;
    border: 1px solid #81A36B;
}

.pointer:hover {
    background: white;
    color: rgba(0, 0, 0, 0.7);
}

/* *TABLE */

table, td, th {
    border-collapse: separate;
    border: 2px solid black;
    border-spacing: 1px;
    width: 100px;
    height: 100px;
}

table {
    width: 600px;
    height: 500px;
    text-align: center;
    margin: 0 auto;
}

.bg-pink {
    background: #be216f;
}

.bg-green {
    background: chartreuse;
}

.bg-turquoise {
    background: #08e3da;
}

.bg-blue {
    background: #33b2e3;
}

.bg-gray {
    background: #808080;
}

.bg-deep-green {
    background: #318025;
}

/* *INLINE BLOCK */

.fz-0 {
    font-size: 0;
}

.d-inline-block {
    display: inline-block;
}

.fz-16 {
    font-size: 16px;
}

.outline {
    outline: 2px solid red;
}

.width-400 {
    width: 400px;
}

.height-400 {
    height: 400px;
}

.width-800 {
    width: 800px;
}

.height-200 {
    height: 200px;
}

.height-133 {
    height: 133.3px;
}

.height-100 {
    height: 100px;
}

/* *FLOAT */

.float-left {
    float: left;
}

/* *FLEX */

.d-flex {
    display: flex;
}

/* *HEADER */

.header {
    padding: 20px 0;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 25;
}

.header-menu {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.menu-element {
    position: relative;
    font-family: 'Lora';
}

.menu-element:hover > ul {
    display: block;
}

.menu-element a:hover {
    background: white;
    color: #163716;
}

.menu-element a {
    text-decoration: none;
    color: #163716;
    text-transform: capitalize;
    text-align: center;
    border: 2px solid;
    padding: 15px;
    border-radius: 6px;
    background: #FFD4C0FF;
    display: block;
    white-space: nowrap;
    font-size: 1.5rem;
}

.home > a {
    background: #FFD4C0FF url("../img/home.svg") no-repeat 5% 50%/30px;
    padding-left: 40px;
}

.home > a:hover {
    background: white url("../img/home.svg") no-repeat 5% 50%/30px;
}

.gallery > a {
    background: #FFD4C0FF url("../img/gallery.svg") no-repeat 5% 50%/30px;
    padding-left: 40px;
}

.gallery > a:hover {
    background: white url("../img/gallery.svg") no-repeat 5% 50%/30px;
}

.arrow-down > a {
    background: #FFD4C0FF url("../img/arrow-down.svg") no-repeat 95% 50%/28px;
    padding-right: 35px;
}

.arrow-down > a:hover {
    background: white url("../img/arrow-down.svg") no-repeat 95% 50%/28px;
}

.second-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    padding-top: 5px;
    font-family: 'Oxygen';
}

.second-menu > li {
    padding-bottom: 5px;
}

.second-menu > li > a {
    background: #e6e0ff;
    color: #163716;
}

.second-menu a:hover {
    background: white;
    color: #163716;
}

.second-menu > li {
    position: relative;
}

.third-menu {
    position: absolute;
    top: 0;
    right: 100%;
    padding-right: 5px;
    display: none;
    font-family: 'Quicksand';
    width: 100%;
}


.third-menu > li > a {
    background: #ffdddd;
}

.second-menu > li:hover > ul {
    display: block;
}

.third-menu a:hover {
    background: white;
    color: #163716;
}


.second-menu > li:last-child > a {
    background: #e6e0ff url("../img/arrow-left.svg") no-repeat 5% 50%/28px;
    padding-left: 25px;
}

.second-menu > li:last-child > a:hover {
    background: white url("../img/arrow-left.svg") no-repeat 5% 50%/28px;
}

/* *MOCKUP */

/* *HEADER */

.mockup-header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/banner.jpeg") no-repeat center/cover;
    color: white;
    min-height: 100vh;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-menu-block {
    padding: 100px 0;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-list > li > a {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    color: white;
    font-family: 'Oxygen';
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.6px;
}

.banner-title-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Oxygen;
}

.header-title {
    font-family: Lora;
    font-size: 50px;
    line-height: 51px;
    letter-spacing: 2px;
}

.header-desc {
    color: rgba(255, 255, 255, 0.63);
    font-size: 17px;
    line-height: 20px;
    margin-top: 20px;
}

.banner-button {
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 3px;
    background: #DD783F;
    display: block;
    padding: 12px 31px;
    margin-top: 31px;
    font-size: 13px;
    line-height: 20px;
    color: white;
}

/* NAVIGATION MENU */

.mockup-navigation {
    background: #fff;
    text-align: center;
    font-family: 'Lora';
    font-size: 14px;
    line-height: 20px;
}

.mockup-container {
    width: 964px;
    margin: 0 auto;
    padding: 0 12px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}

.navigation > li {
    width: 140px;
}

.navigation > li > a {
    text-decoration: none;
    color: #768088;
    text-transform: capitalize;
    padding: 15px 0;
    display: block;
}

/* *FEATURED POSTS */

.featured-posts {
    background: #F7F7F7;
    font-family: 'Oxygen';
    padding: 60px 0 0;
}

.posts-container {
    max-width: 964px;
}

.posts-title {
    font-family: 'Oxygen';
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 2px;
    color: #2E2E2E;
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 15px;
    margin-bottom: 30px;
    position: relative;
}

.posts-title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -95px;
    width: 190px;
    height: 1px;
    background: #DEDEDE;
}

.posts-cards {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    margin: 0 -12px;
}

.posts-card-container {
    min-height: 280px;
    padding: 0 12px;
    flex: 0 0 50%;
    position: relative;
}

.post-button {
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 2px;
    background: #DD783F;
    display: block;
    padding: 7px 9px;
    font-size: 12px;
    line-height: 13px;
    color: white;
    position: absolute;
    top: 26px;
    left: 29px;
    z-index: 10;
}

.posts-card {
    position: relative;
    z-index: 5;
    color: rgba(255, 255, 255, 0.70);
    padding: 20px 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.posts-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.posts-card-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    border-radius: 3px;
}

.highlighting {
    position: relative;
    z-index: 5;
}

.card-title {
    color: white;
    font-size: 27px;
    line-height: 30px;
    margin-bottom: 6px;
}

.posts-card-desc {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 12px;
}

.who-is-author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    font-size: 12px;
    line-height: 35px;
}

.featured-author-name {
    display: flex;
    align-items: center;
    gap: 10px;
}

.author-avatar {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}


/* *MOST RECENT */

.most-recent {
    background: #F7F7F7;
    font-family: 'Oxygen';
    padding: 60px 0 60px;
}

.recent-post-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 24px;
    margin: 0 -12px;
}

.recent-post {
    min-width: 320px;
    min-height: 290px;
    padding: 0 12px;
    flex: 0 0 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.recent-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.recent-post-card {
    background: white;
    padding: 0 12px;
    min-height: 93px;
}

.post-subtitle {
    font-family: 'Lora';
    font-size: 16px;
    line-height: 21px;
    color: #101315;
    margin-top: 14px;
}

.post-desc {
    font-size: 13px;
    line-height: 19px;
    color: #7A7A7A;
    margin: 6px 0 12px;
}

.recent-author-box {
    margin-top: 1px;
    background: #FCFCFC;
    color: #999999;
    padding: 7px 13px;
}

/* *STAY IN TOUCH */

.stay-in-touch {
    text-align: center;
    position: relative;
}

.footer-box {
    background: linear-gradient(rgba(77, 86, 93, 0.5), rgba(77, 86, 93, 0.5)), url("../img/banner-2.jpeg") no-repeat center/cover;
    height: 380px;
    padding: 120px 0;
}

.footer-title {
    font-size: 25px;
    line-height: 30px;
    color: #efefef;
}

/* *FOOTER MENU */

.footer-menu-block {
    background: rgba(35, 47, 56, 0.60);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-menu {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.footer-list > li > a {
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    color: rgba(255, 255, 255, 0.60);
    font-family: 'Oxygen';
    font-size: 11px;
    line-height: 26px;
    letter-spacing: 1px;
}
